.btn {
  border-radius: 0px;
  text-transform: uppercase;
  border: 0px;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  font-size: rem.convert(14px);
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  // font-size: 1rem;
  font-style: normal;
  font-weight: $bold;
  line-height: 175%; /* 1.75rem */
  text-transform: uppercase;
  font-family: var(--body-font-family);
  @include media-breakpoint-down(md) {
    padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    font-size: 0.875rem;
  }
  &.btn-primary {
    background-color: transparent;
    position: relative;
    padding: 0;
    padding-left: 0.865rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 0.875rem;
      height: 100%;
      top: 0;
      z-index: 9;
      background: var(--red);
      clip-path:  polygon(20% 0%, 108% 0, 120% 20%, 100% 100%, 100% 100%, 0% 60%, 0 0);
      transition: all 0.3s ease-in-out;
    }
    span {
      display: block;
      background-color: var(--red);
      color: var(--white);
      transition: all 0.3s ease-in-out;
      padding: 0.75rem 1.5rem 0.75rem 0.75rem;
      @include media-breakpoint-down(md) {
        padding: 0.50rem 1.5rem 0.50rem 0.75rem;
      }
    }
    &:hover {
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      color: var(--white);
      span { 
        background-color: var(--black);

      }
      &::before {
        background-color: var(--black);
      }
    }

    &.disabled {
      opacity: 0.4;
    }

    &.btn-hover-yellow {
      svg {
        transition: all 0.3s ease-in-out;
        color: var(--white);
        * {
          color: var(--white);
        }
      }
      &:hover {
        color: var(--black);
        span { 
          background-color: var(--gold);
          color: var(--black);
          svg {
            color: var(--black);
            * {
              color: var(--black);
            }
          }
        }
        &::before {
          background-color: var(--gold);
        }
      }
    }

    &.btn-dark {
      svg {
        color: var(--white);
        * {
          color: var(--white);
        }
      }
      &::before {
        content: "";
        background: var(--dark-grey);
      }
      span {
        background: var(--dark-grey);
      }
      &:hover {
        span { 
          background-color: #5C5C5C;
  
        }
        &::before {
          background-color: #5C5C5C;
        }
      }
    }
  }

  &.btn-primary-gray {
    background-color: transparent;
    position: relative;
    padding: 0;
    padding-left: 0.865rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 0.875rem;
      height: 100%;
      top: 0;
      z-index: 9;
      background: var(--light-gray);
      clip-path:  polygon(20% 0%, 108% 0, 120% 20%, 100% 100%, 100% 100%, 0% 60%, 0 0);
      transition: all 0.3s ease-in-out;
    }
    span {
      display: block;
      background-color: var(--light-gray);
      color: var(--black);
      transition: all 0.3s ease-in-out;
      padding: 0.75rem 0.75rem 0.75rem 0.5rem;
      @include media-breakpoint-down(md) {
        padding: 0.50rem 1.5rem 0.50rem 0.75rem;
      }
      .icon {
        margin-left: 0.5rem;
      }
    }
    &:hover {
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      color: var(--black);
      span { 
        background-color: var(--grey-800);

      }
      &::before {
        background-color: var(--grey-800);
      }
    }

    &.disabled {
      opacity: 0.4;
    }
  }

  &.btn-primary-yellow {
    background-color: transparent;
    position: relative;
    padding: 0;
    padding-left: 0.865rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 0.875rem;
      height: 100%;
      top: 0;
      z-index: 9;
      background: var(--gold);
      clip-path:  polygon(20% 0%, 108% 0, 120% 20%, 100% 100%, 100% 100%, 0% 60%, 0 0);
      transition: all 0.3s ease-in-out;
    }
    span {
      display: block;
      background-color: var(--gold);
      color: var(--black);
      transition: all 0.3s ease-in-out;
      padding: 0.75rem 1.5rem 0.75rem 0.75rem;
      @include media-breakpoint-down(md) {
        padding: 0.50rem 1.5rem 0.50rem 0.75rem;
      }
    }
    &:hover {
      background-color: transparent;
      transition: all 0.3s ease-in-out;
      color: var(--white);
      span { 
        background-color: var(--black);
        color: var(--white);
      }
      &::before {
        background-color: var(--black);
      }
    }

    &.disabled {
      opacity: 0.4;
    }
  }

  &.btn-primary-default {
    background-color: var(--pink);
    color: var(--maroon);
    font-size: rem.convert(14px);

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 0 50% 50% 00%;
      background-color: var(--dark-green);
      // background: -webkit-linear-gradient(180deg, hsla(357, 71%, 17%, 1) 0%, hsla(175, 92%, 10%, 1) 60%);
      // background: -moz-linear-gradient(180deg, hsla(357, 71%, 17%, 1) 0%, hsla(175, 92%, 10%, 1) 60%);
      transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.8s ease-in-out;
      transform: translate(-100%, -50%);
      top: 50%;
      left: 0;
      z-index: -1;
    }

    &:hover {
      // background-color: var(--pink);
      color: var(--sage);
      transition: all 0.8s ease-in-out;

      &::after {
        width: 200%;
        height: 500px;
        transform: translate(0%, -50%);
      }
    }
  }

  
  &.btn-secondary {
    background-color: transparent;
    display: inline-flex;
    text-align: left;
    font-weight: $bold;
    color: var(--black);
    gap: rem.convert(12px);
    .arrow {
      transition: all 0.3s ease-in-out;
      color: var(--red);
    }
    span {
      flex: 1;
    }
    &:hover {
      background: rgba(213, 0, 50, 0.10);
      transition: all 0.3s ease-in-out;
      border: 1px solid var(--pink);
      .arrow {
        transform: rotate(-45deg);
      }
    }
    &.btn-secondary-icon-yellow {
      background: transparent;
      .arrow {
        color: var(--gold);
      }
    }
    &.btn-secondary-small {
      padding: 0.25rem 0.5rem 0.25rem 0.25rem;
    }
  }

  &.btn-secondary-white {
    background-color: transparent;
    display: inline-flex;
    text-align: left;
    gap: rem.convert(12px);
    span {
      flex: 1;
    }
    .arrow {
      // margin-right: rem.convert(12px);
      transition: all 0.3s ease-in-out;
      color: var(--red);
    }
    &:hover {
      background: rgba(213, 0, 50, 0.10);
      transition: all 0.3s ease-in-out;
      border: 1px solid var(--pink);
      .arrow {
        transform: rotate(-45deg);
      }
    }
  }


}


.link-btn {
  font-family: var(--body-font-family);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 175%; /* 1.3125rem */
  text-decoration: none;
  color: #FFFFFF99!important;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  position: relative;
  &::after {
    content: "";
    border-bottom:1px solid #FFFFFF99;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: rem.convert(2px);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    color: var(--white)!important;
    &::after {
      content: "";
      border-color: transparent;
    }
  }
}


.link--hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  background: transparent;
  color: var(--red)!important;
  display: inline-flex;
  word-break: break-word;
  &:hover {
    background:  rgba(213, 0, 50, 0.10);
    text-decoration-color: transparent;
  }
}


.star-btn-link {
    color: var(--black);
    transition: all 0.4s ease-in-out;
    position: relative;
    padding: 0.27rem;
    padding-left: rem.convert(24px);
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    &::before {
      content: "";
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M6.23684 10.6579L6 12L5.76316 10.6579C5.28947 8.44737 3.55264 6.71053 1.34211 6.23684L0 6L1.34211 5.76316C3.55264 5.28947 5.28947 3.55263 5.76316 1.34211L6 0L6.23684 1.34211C6.71053 3.55263 8.44736 5.28947 10.6579 5.76316L12 6L10.6579 6.23684C8.44736 6.71053 6.71053 8.44737 6.23684 10.6579Z" fill="%23D50032"/></svg>');
      margin-right: 0.5rem;
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      left: rem.convert(6.4px);
      top: rem.convert(10px);
      transition: all 0.4s ease-in-out;
      filter: brightness(0) saturate(100%) invert(88%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(94%);
    }
    &:hover {
      color: var(--black);
      background: rgba(213, 0, 50, 0.10);
      &::before {
        content: "";
        filter:inherit;
      }
    }
}



.w-btn-full {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
.row-button-sec {
  .btn {
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.row-btn-width {
  .btn {
    width: auto;
  }
}