.faculty-profile-template {
  .side-nav-wrap {
    @include media-breakpoint-down(md) {
      gap: rem.convert(32px);
      padding-top: 0px !important;
    }
  }
}

.faculty-details-wrapper {
  overflow: hidden;
  .img-clip-path-box .img-wrapper {
    &::after {
      left: rem.convert(48px);
      max-height: rem.convert(123px);
      max-width: rem.convert(14.53px);
    }
  }

  .faculty-info {
    h3 {
      font-size: rem.convert(24px);
    }

    .dept-list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: rem.convert(8px);
      margin-top: rem.convert(16px);

      li {
        padding: rem.convert(4px) rem.convert(16px);
        background: rgba(253, 194, 90, 0.1);
        border: 1px solid var(--gold);

        a {
          text-decoration: none;

          &:hover {
            color: var(--red);
          }
        }
      }
    }

    .contact-info-list {
      margin-top: rem.convert(48px);

      @include media-breakpoint-down(md) {
        margin-top: rem.convert(32px);
      }

      li {
        display: flex;
        gap: rem.convert(8px);
        margin-bottom: rem.convert(16px);

        img {
          flex: 0 0 rem.convert(24px);
          width: rem.convert(24px);
          height: rem.convert(24px);
          margin-top: rem.convert(2px);
          filter: brightness(0) saturate(100%) invert(30%) sepia(6%) saturate(467%) hue-rotate(139deg) brightness(97%) contrast(88%);
         
        }
        svg{
          flex: 0 0 rem.convert(24px);
          width: rem.convert(24px);
          height: rem.convert(24px);
          margin-top: rem.convert(2px);
        }

        a {
          color: var(--red);
          line-height: 1.75;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: none;
          text-decoration-thickness: auto;
          text-underline-offset: auto;
          background: transparent;
          color: var(--red) !important;
          display: inline-flex;
          word-break: break-word;

          &:hover {
            background: rgba(213, 0, 50, 0.1);
            text-decoration-color: transparent;
          }
        }
      }
    }
  }

  .section-heading {
    @include media-breakpoint-down(md) {
      margin-top: rem.convert(32px);
    }
  }
}

.border-red {
  border: 12px solid var(--red);
}

.faculty-more-info {
  padding: rem.convert(64px);

  @include media-breakpoint-down(md) {
    padding: rem.convert(72px) rem.convert(20px);
    margin-top: rem.convert(32px);

    .section-heading {
      margin-top: 0;
    }
  }

  .faculty-desc-wrap {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    word-wrap: break-word;
    max-height: calc(1.75em * 4.30); // Fallback for line-height * line-clamp
    line-height: 1.75;

    &.expand {
      display: block;
      -webkit-line-clamp: unset;
      line-clamp: unset;
      -webkit-box-orient: unset;
      max-height: none;
      overflow: visible;
    }

    a {
      color: var(--red);
      line-height: 1.75;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      background: transparent;
      color: var(--red) !important;
      display: inline-flex;
      word-break: break-word;

      &:hover {
        background: rgba(213, 0, 50, 0.1);
        text-decoration-color: transparent;
      }
    }
    img{
      max-width: 100%;
      height: auto;
      width: 100%;
    }
    iframe{
      width: 100%;
      height: auto;
      aspect-ratio: 16 / 9;
    }
    video{
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .read-more-btn {
    width: max-content;
    display: inline-flex;
    align-items: center;
    padding: 0;
    gap: rem.convert(12px);
    margin-top: rem.convert(32px);
    font-size: rem.convert(14px);
    line-height: 1.75;

    .icon-wrap {
      &.rotate {
        transform: rotate(-180deg);
      }
    }
  }
}

.faculty-accordion {
  .accordion-body {
    span {
      display: flex;
      gap: rem.convert(8px);
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: rem.convert(20px);
  }
}

.experts-profile-faculty-wraper {
  padding-top: rem.convert(48px) !important;

  .content-section {
    gap: 0;
    padding-top: rem.convert(34px);
    @include media-breakpoint-up(md){
      width: 50%;
    }
  }

  .wrap-row {
    flex-direction: column;
  }

  .content-grid-wrap-section {
    margin-bottom: rem.convert(48px);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      line-height: 1.75;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      background: transparent;
      color: var(--red) !important;
      display: inline-flex;
      word-break: break-word;
    }
  }

  .img-clip-path-box {
    .img-wrapper {
      max-width: rem.convert(400px);
      @include media-breakpoint-down(sm){
        min-height: unset;
      }
      .play-btn {
        background: rgba(0, 0, 0, 0.7);
        border: none;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        color: var(--black);
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
        transition: background 0.4s;
        position: absolute;
        top: calc(50% + 18px);
        left: calc(50% + 18px);
        transform: translate(-50%, -50%);
        z-index: 2;
        svg{
          path{
            fill: var(--white);
          }
        }
      }
      &:hover{
        .play-btn{
          background: rgba(0, 0, 0, 1);
        }
        
      }
    }
  }
  &:has(.form-sec) {
    .img-wrapper{
     max-width: 100%;
    }
   }

  &.img-text-sec {
    &.left-img-text-sec {
      .row-section {
        flex-direction: row;
      }
    }
  }
  &.bg-light-gray {
    @include media-breakpoint-down(sm){
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}