.footer {
  background-color: var(--black);
  color: var(--white);
  padding-top: rem.convert(48px);
  padding-bottom: rem.convert(32px);

  .address-sec {
    margin-bottom: rem.convert(32px);
    a{
      transition: all 0.4s ease-in-out;
      text-decoration-thickness: 0.5px;
      text-underline-offset: 3.5px;
      &:hover{
        color: var(--white);
        text-decoration-color: transparent;
      }
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(sm) {
      
      
    }
  }

  .footer-lists {
    display: flex;
    flex-direction: column;
    gap: rem.convert(32px);
    @include media-breakpoint-up(md) {
      gap: rem.convert(48px);
    }
    .footer-logo{
      svg{
        max-width: 100%;
      }
    }
  }
  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem.convert(19.2px);
    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
    a {
      transition: all 0.4s ease-in-out;
      svg {
          width: rem.convert(24px);
          height: rem.convert(24px);
          path {
            transition: all 0.4s ease-in-out;
            color: var(--gold);
          }
      }
      &:hover {
        svg {
          path {
            color: var(--red);
          }
        }
      }
      
      &:hover{
        img{
          filter: brightness(0) saturate(100%) invert(12%) sepia(85%) saturate(4616%) hue-rotate(337deg) brightness(100%) contrast(111%);
        }
      }
    }
  }

  .footer-links {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: rem.convert(8px);
    li {
      a {
        color: var(--white);
        transition: color 0.3s ease;
        position: relative;
        padding: rem.convert(4px 8px 4px 20px);
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        font-weight: 700;
        &::before {
          content: "";
          background-image: url('data:image/svg+xml,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.23684 11.0124L6 12.3545L5.76316 11.0124C5.28947 8.80186 3.55264 7.06502 1.34211 6.59134L0 6.35449L1.34211 6.11765C3.55264 5.64397 5.28947 3.90712 5.76316 1.6966L6 0.354492L6.23684 1.6966C6.71053 3.90712 8.44736 5.64397 10.6579 6.11765L12 6.35449L10.6579 6.59134C8.44736 7.06502 6.71053 8.80186 6.23684 11.0124Z" fill="%23fdc25a"/></svg>');
          margin-right: rem.convert(8px);
          width: rem.convert(12px);
          height: rem.convert(12px);
          position: absolute;
          left: 0;
          top: rem.convert(10px);
          transition: all 0.3s ease-in-out;
          background-repeat: no-repeat;
        }
        &:hover {
          color: var(--white);
          background-color: #FDC25A1A;
          &::before {
            content: "";
            background-image: url('data:image/svg+xml,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.23684 11.0124L6 12.3545L5.76316 11.0124C5.28947 8.80186 3.55264 7.06502 1.34211 6.59134L0 6.35449L1.34211 6.11765C3.55264 5.64397 5.28947 3.90712 5.76316 1.6966L6 0.354492L6.23684 1.6966C6.71053 3.90712 8.44736 5.64397 10.6579 6.11765L12 6.35449L10.6579 6.59134C8.44736 7.06502 6.71053 8.80186 6.23684 11.0124Z" fill="%23FDC25A"/></svg>');
            background-repeat: no-repeat;
          }
        }
      }
    }
  }

  .social-icons {
    margin: 0;
    a {
      color: var(--white);
      transition: color 0.3s ease;
    }
  }

  .hr {
      border-color: #FFFFFF99 !important;
  }
  .copyright {
    color: #FFFFFF99;
    margin-top: rem.convert(14px);
  }
}
.border-secondary {
  --bs-border-opacity: 1;
  border-color: #FFFFFF99 !important;
}

.phone-link {
  &:hover {
     color: #FFFFFF99;
  }
}