
.gallery-item {
  display: block;
}

.lightbox-modal {
  .modal-content {
    background-color: var(--lightbox);
  }

  .btn-close {
    position: absolute;
    top: rem.convert(20px);
    right: rem.convert(20px);
    font-size: rem.convert(20px);
    z-index: 10;
    filter: invert(1) grayscale(100);
  }

  .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .lightbox-content {
    width: 100%;
  }

  .carousel {
    &-indicators {
      margin-bottom: 0;

      [data-bs-target] {
        background-color: var(--carousel-text) !important;
      }
    }

    &-inner {
      width: 75%;

      @media (min-width: 1400px) {
        max-width: 60%;
      }
    }

    &-item {
      // padding-bottom:4rem;
      text-align: center;
      position: relative;
      .modal-img-container {  
        position: relative;
        width: auto;
        margin: 0 auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &::after {
          content: "";
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63%, rgb(0 0 0 / 50%) 88.29%
          88.29%
          );
          position: absolute;
          inset: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
        }
      }
      .carousel-caption {
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: rem.convert(16px);
        background-color: var(--lightbox);
        color: var(--white) !important;
        text-align: center;
        z-index: 3;
        padding-left: rem.convert(16px);                                                                                     
      }

      img {
        height: 85vh;
        object-fit: contain;
        @include media-breakpoint-down(md) {
          height: auto;
        }
      }
    }       

    &-control {
      &-prev,
      &-next {
        width: auto;
      }

      &-prev {
        left: rem.convert(8px);
      }

      &-next {
        right: rem.convert(8px);
      }
    }
  }
}

[data-bs-theme="dark"] {
  .lightbox-modal {
    .carousel-control {
      &-next-icon,
      &-prev-icon {
        filter: none;
      }
    }
  }
  .video-lightbox-modal {
    .carousel-item::after {
      display: none;
    }
  }
}

.btn {
  &-fullscreen {
    &-enlarge,
    &-exit {
      position: absolute;
      top: 1.25rem;
      right: 3.5rem;
      z-index: 10;
      border: 0;
      background: transparent;
      opacity: 0.6;
      font-size: 1.25rem;
    }
  }
}

.bi {
  display: inline-block;
  width: rem.convert(16px);
  height: rem.convert(16px);
  vertical-align: -0.035em;
  fill: currentcolor;
}

