

// @keyframes zoomin {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(1.05);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

.gallery-item {
  display: block;
  
  img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.2s;
  }
  
  &:hover img {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
  }
}

.lightbox-modal {
  .modal-content {
    background-color: var(--lightbox);
  }

  .btn-close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 1.25rem;
    z-index: 10;
    filter: invert(1) grayscale(100);
  }

  .modal-body {
    display: flex;
    align-items: center;
    padding: 0;
  }

  .lightbox-content {
    width: 100%;
  }

  .carousel {
    &-indicators {
      margin-bottom: 0;

      [data-bs-target] {
        background-color: var(--carousel-text) !important;
      }
    }

    &-inner {
      width: 75%;

      @media (min-width: 1400px) {
        max-width: 60%;
      }
    }

    &-item {
      // padding-bottom:4rem;
      position: relative;
      &::after {
        content: "";
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63%, rgb(0 0 0 / 50%) 88.29%
        88.29%
        );
        position: absolute;
        inset: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
      }
      .carousel-caption {
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: 1rem;
        background-color: var(--lightbox);
        color: var(--white) !important;
        text-align: left;
        z-index: 3;
        padding-left: 1rem;
      }

      img {
        height: 85vh;
        object-fit: cover;
        @include media-breakpoint-down(md) {
          height: auto;
        }
      }
    }

    &-control {
      &-prev,
      &-next {
        width: auto;
      }

      &-prev {
        left: 0.5rem;
      }

      &-next {
        right: 0.5rem;
      }
    }
  }
}

[data-bs-theme="dark"] {
  .lightbox-modal {
    .carousel-control {
      &-next-icon,
      &-prev-icon {
        filter: none;
      }
    }
  }
}

.btn {
  &-fullscreen {
    &-enlarge,
    &-exit {
      position: absolute;
      top: 1.25rem;
      right: 3.5rem;
      z-index: 10;
      border: 0;
      background: transparent;
      opacity: 0.6;
      font-size: 1.25rem;
    }
  }
}

.bi {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.035em;
  fill: currentcolor;
}