body {
    margin: 0;
    color: #000;
}

a {
    transition: all 0.5s ease-in-out;
}

ul {
    list-style: none;
    padding-left: 0;
}
.container {
    max-width: 1440px;
    padding-inline: 4rem;
    @include media-breakpoint-down(xl) {
        padding-inline: 1.25rem;
    }
}


.custom-container {
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
}

.container-smaller {
    max-width: 1268px;
    margin: 0 auto;
    padding-inline: 4rem;
    @include media-breakpoint-down(xl) {
        padding-inline: 1.25rem;
    }
}

.section {
    padding: rem.convert(96px 0px);
    @include media-breakpoint-down(md) {
        padding: rem.convert(72px 0px);
    }
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    @include media-breakpoint-down(xl) {
        padding-inline: 1.25rem;
    }
}


.section-heading {
    .title-wrap {
        margin-bottom: 2rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 3rem;
        }
        .star-icon {
            color: var(--red);
            * {
                color: var(--red);
            }
        }
    }
    .heading-description  {
        // margin-bottom: 2rem;
    }
    &.heading-gray-icon {
        .star-icon {
            color: var(--grey-700);
            * {
                color: var(--grey-700);
            }
        }
    }

    &.section-heading-dark {
        .star-icon {
            color: #00000066;
            * {
                color: #00000066;
            }
        }
    }

}

.button-listing {
    margin-top: 2rem;
}

// Section padding
section.bg-white + section.bg-white {
    padding-top: 0;
}
section.bg-black + section.bg-black {
    padding-top: 0;
}

section.bg-white.section-with-padding + section.bg-white {
    padding-top: rem.convert(96px);
    @include media-breakpoint-down(md) {
        padding-top: rem.convert(72px);
    }
}

.actions  {
    margin-bottom: 0;
}

.gy-32 {
    --bs-gutter-y: 2rem;
}

.mt-32 {
    margin-top: rem.convert(32px);
}
.my-32 {
    margin-block: rem.convert(32px);
}

.gap-20 {
    gap: rem.convert(20px);
}
.gx-2px {
    --bs-gutter-x:  2px;
}
.gy-2px {
    --bs-gutter-y: 2px;
}
.gx-4px {
    --bs-gutter-x:  4px;
}
.gy-4px {
    --bs-gutter-y: 4px;
    @include media-breakpoint-down(md) {
        --bs-gutter-y: 2px;
    }
}

.gx-10 {
    --bs-gutter-x:  20px;
}
.gy-10 {
    --bs-gutter-y:  20px;
}
.star-links-black {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
    li {
      a {
        padding: 0.25rem 0.5rem 0.25rem 0.25rem;
        background-color: transparent;
        color: var(--black);
        transition: color 0.3s ease;
        position: relative;
        padding-left: rem.convert(24px);
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        transition: all 0.5s ease-in-out;
        font-weight: 700;
        &::before {
          content: "";
          background-image: url('data:image/svg+xml,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.23684 11.0124L6 12.3545L5.76316 11.0124C5.28947 8.80186 3.55264 7.06502 1.34211 6.59134L0 6.35449L1.34211 6.11765C3.55264 5.64397 5.28947 3.90712 5.76316 1.6966L6 0.354492L6.23684 1.6966C6.71053 3.90712 8.44736 5.64397 10.6579 6.11765L12 6.35449L10.6579 6.59134C8.44736 7.06502 6.71053 8.80186 6.23684 11.0124Z" fill="%23D50032"/></svg>');
          margin-right: 0.5rem;
          width: 0.75rem;
          height: 0.75rem;
          position: absolute;
          left: 0.25rem;
          top: rem.convert(10px);
          transition: all 0.3s ease-in-out;
        }
        &:hover {
            background: rgba(213, 0, 50, 0.10);
            color: var(--black);
        }
      }
    }
}

.pt-72 {
    padding-top: rem.convert(72px);
    @include media-breakpoint-down(md) {
        padding-top: rem.convert(52px);
    }
}



.container-slider {
    @include media-breakpoint-down(md) {
        padding-right: 0;
    }
}



.breadcrumb {
    padding-top: rem.convert(20px);
    padding-bottom: 3rem;
    margin: 0;
    @include media-breakpoint-down(md) {
        padding-block: rem.convert(16px);
    }
    .breadcrumb-item {
        color: #00000066;
        a {
            color: #00000066;
            text-decoration: underline;
            &:hover {
                text-decoration-color: transparent;
                color: var(--red);
            }
        }
        &::before {
            content: "";
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none"><path d="M8.33301 5.44141L7.08301 6.69141L10.8916 10.5L7.08301 14.3086L8.33301 15.5586L13.3916 10.5L8.33301 5.44141Z" fill="black" fill-opacity="0.2"/></svg>');
            width: 1.25rem;
            height: 1.25rem;
            padding: 0;
            margin-right: 5px;
            position: relative;
            top: 2px;
        }
        &:first-child::before {
            display: none;
        }
        &.active {
            color: var(--black);
        }
    }
}


.star-ul {
    padding-left: 1rem;
    li {
        padding-left: 1.3rem;
        position: relative;
        &::before {
            content: "";
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path d="M6.23684 11.0124L6 12.3545L5.76316 11.0124C5.28947 8.80186 3.55264 7.06502 1.34211 6.59134L0 6.35449L1.34211 6.11765C3.55264 5.64397 5.28947 3.90712 5.76316 1.6966L6 0.354492L6.23684 1.6966C6.71053 3.90712 8.44736 5.64397 10.6579 6.11765L12 6.35449L10.6579 6.59134C8.44736 7.06502 6.71053 8.80186 6.23684 11.0124Z" fill="%23CDCDCD"/></svg>');
            margin-right: 0.5rem;
            width: 0.75rem;
            height: 0.75rem;
            position: absolute;
            left: 0;
            top: rem.convert(8px);
            transition: all 0.4s ease-in-out;
        }
    }
}

