body {
    margin: 0;
    color: var(--black);
}

a {
    transition: all 0.3s ease-in-out;
    color: var(--black);
}

ul {
    list-style: none;
    padding-left: 0;
}
.container {
    max-width: 1440px;
    padding-inline: 4rem;
    @include media-breakpoint-down(xl) {
        padding-inline: 1.25rem;
    }
}
.custom-container {
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
}
.container-smaller {
    max-width: 1268px;
    margin: 0 auto;
    padding-inline: 4rem;
    @include media-breakpoint-down(xl) {
        padding-inline: 1.25rem;
    }
}

.section {
    padding: rem.convert(96px 0px);
    @include media-breakpoint-down(md) {
        padding: rem.convert(72px 0px);
    }
}

.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
    @include media-breakpoint-down(xl) {
        padding-inline: 1.25rem;
    }
}


.section-heading {
    .title-wrap {
        margin-bottom: 2rem;
        @include media-breakpoint-up(md) {
            margin-bottom: 3rem;
        }
        .section-title {
            margin-bottom: rem.convert(16px);
            @include media-breakpoint-down(md) {
                margin-bottom: rem.convert(12px);
            }
        }
        .star-icon {
            color: var(--red);
            * {
                color: var(--red);
            }
        }
    }
    .heading-description  {
        // margin-bottom: 2rem;
    }
    &.heading-gray-icon {
        .star-icon {
            color: var(--grey-700);
            * {
                color: var(--grey-700);
            }
        }
    }

    &.section-heading-dark {
        .star-icon {
            color: #00000066;
            * {
                color: #00000066;
            }
        }
    }

}

.button-listing {
    margin-top: 2rem;
}

// Section padding
section.bg-white + section.bg-white {
    padding-top: 0;
}
section.bg-black + section.bg-black {
    padding-top: 0;
}

section.bg-white.section-with-padding + section.bg-white {
    padding-top: rem.convert(96px);
    @include media-breakpoint-down(md) {
        padding-top: rem.convert(72px);
    }
}

.actions  {
    margin-bottom: 0;
}

.gy-32 {
    --bs-gutter-y: 2rem;
}

.gy-64 {
    --bs-gutter-y: 4rem;
}

.mt-32 {
    margin-top: rem.convert(32px);
}
.mb-32 {
    margin-bottom: rem.convert(32px);
}
.my-32 {
    margin-block: rem.convert(32px);
}

.gap-20 {
    gap: rem.convert(20px);
}
.gx-2px {
    --bs-gutter-x:  2px;
}
.gy-2px {
    --bs-gutter-y: 2px;
}
.gx-4px {
    --bs-gutter-x:  4px;
}
.gy-4px {
    --bs-gutter-y: 4px;
    @include media-breakpoint-down(md) {
        --bs-gutter-y: 2px;
    }
}

.gx-10 {
    --bs-gutter-x:  20px;
}
.gy-10 {
    --bs-gutter-y:  20px;
}
.star-links-black {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
    li {
      a {
        padding: 0.25rem 0.5rem 0.25rem 0.25rem;
        background-color: transparent;
        color: var(--black);
        transition: color 0.3s ease;
        position: relative;
        padding-left: rem.convert(24px);
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        transition: all 0.5s ease-in-out;
        font-weight: 700;
        &::before {
          content: "";
          background-image: url('data:image/svg+xml,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.23684 11.0124L6 12.3545L5.76316 11.0124C5.28947 8.80186 3.55264 7.06502 1.34211 6.59134L0 6.35449L1.34211 6.11765C3.55264 5.64397 5.28947 3.90712 5.76316 1.6966L6 0.354492L6.23684 1.6966C6.71053 3.90712 8.44736 5.64397 10.6579 6.11765L12 6.35449L10.6579 6.59134C8.44736 7.06502 6.71053 8.80186 6.23684 11.0124Z" fill="%23D50032"/></svg>');
          margin-right: 0.5rem;
          width: 0.75rem;
          height: 0.75rem;
          position: absolute;
          left: 0.25rem;
          top: rem.convert(10px);
          transition: all 0.3s ease-in-out;
        }
        &:hover {
            background: rgba(213, 0, 50, 0.10);
            color: var(--black);
        }
      }
    }
}

.pt-72 {
    padding-top: rem.convert(72px);
    @include media-breakpoint-down(md) {
        padding-top: rem.convert(52px);
    }
}

.card-gaping {
   padding-top: rem.convert(96px);
    @include media-breakpoint-down(md) {
        padding-top: rem.convert(72px);
    }
}

.container-slider {
    @include media-breakpoint-down(md) {
        padding-right: 0;
    }
}

.breadcrumb {
    padding-top: rem.convert(20px);
    padding-bottom: 0;
    margin: 0;
    @include media-breakpoint-down(md) {
        padding-block: rem.convert(16px);
    }
    .breadcrumb-item {
        color: #747474;
        a {
            color: rgb(0 0 0 / 61%);
            text-decoration: underline;
            &:hover {
                text-decoration-color: transparent;
                color: var(--red);
            }
        }
        &::before {
            content: "";
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none"><path d="M8.33301 5.44141L7.08301 6.69141L10.8916 10.5L7.08301 14.3086L8.33301 15.5586L13.3916 10.5L8.33301 5.44141Z" fill="black" fill-opacity="0.2"/></svg>');
            width: 1.25rem;
            height: 1.25rem;
            padding: 0;
            margin-right: 5px;
            position: relative;
            top: 2px;
        }
        &:first-child::before {
            display: none;
        }
        &.active {
            color: var(--black);
        }
    }
}


.star-ul {
    padding-left: 1rem;
    li {
        padding-left: 1.3rem;
        position: relative;
        &::before {
            content: "";
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none"><path d="M6.23684 11.0124L6 12.3545L5.76316 11.0124C5.28947 8.80186 3.55264 7.06502 1.34211 6.59134L0 6.35449L1.34211 6.11765C3.55264 5.64397 5.28947 3.90712 5.76316 1.6966L6 0.354492L6.23684 1.6966C6.71053 3.90712 8.44736 5.64397 10.6579 6.11765L12 6.35449L10.6579 6.59134C8.44736 7.06502 6.71053 8.80186 6.23684 11.0124Z" fill="%23CDCDCD"/></svg>');
            margin-right: 0.5rem;
            width: 0.75rem;
            height: 0.75rem;
            position: absolute;
            left: 0;
            top: rem.convert(8px);
            transition: all 0.4s ease-in-out;
        }
    }
}

/* Smooth dropdown with relative positioning */
.custom-dropdown .dropdown-menu {
  position: relative !important;
  opacity: 0;
  transform: translateY(10px);
  display: block;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.custom-dropdown.show .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}



/* Left Nav Container */
.main-dropdown {
    display: flex;
    align-items: center;
    gap: rem.convert(4px);
}

.leftnav {
    > ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            list-style-image: none;
            a {
                display: inline-block;
                text-decoration: none;
                width: 100%;
                &:hover {
                    color: var(--red);
                }
            }
        }
        ul {
            margin: 0 0 12px 0;
        }
    }
}

.sidenav {
    padding-left: 0;
    padding-right: 0;
}

.btn.btn-expander {
    background: none;
    box-shadow: none;
    position: relative;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;
}

.btn-expander {
    .plus-minus-btn {
        &:before {
            content: "";
            font-size: 20px;
            background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.8333 2.5V9.16667H17.5V10.8333H10.8333V14.1667V17.5H9.16667V14.1667V10.8333H2.5V9.16667H9.16667V2.5H10.8333Z" fill="%23D50032"/></svg>');
            width: rem.convert(16px);
            height: rem.convert(16px);
            position: absolute;
            left: 0;
            background-size: 16px;
            top: 0;
            background-repeat: no-repeat;
            transition: all 0.2s ease-in-out;
        }
        &.minus-btn:before {
            background-image: url('data:image/svg+xml,<svg width="20" height="2" viewBox="0 0 20 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.8986 -0.00275935L8.89884 -0.00220568L-0.000757456 0.000257611L-0.00020379 2.00004L8.8994 1.99758L10.8989 1.99744L19.7988 1.99456L19.7982 -0.00522399L10.8986 -0.00275935Z" fill="%23D50032"/></svg>');
            width: rem.convert(14px);
            height: rem.convert(14px);
            top: 6px;
        }
    }
}

.sidenav-sub {
    padding-left: rem.convert(20px);
    .drop {
        margin-bottom: rem.convert(12px);
    }
}
.singe-menu {
    margin-bottom: rem.convert(6px);
}

.sidenav-sub-menu {
    > li {
        font-size: 0.9em;
        width: 100%;
        line-height: 1.1em;
        padding-left: 20px;
    }
    .btn.btn-secondary {
        width: 100%;
    }
}

.screen-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.skip-link {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    color: #000;
    padding: 8px 16px;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 0.2s;
    text-decoration: none;
    font-weight: bold;
  }
  .skip-link:focus {
    transform: translateY(0);
    outline: 2px solid #000;
  }