

// Home Hero Start
.home-hero-sec {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0.90) 100%), url(images/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0.6rem;

  .content-section {
      padding-block: 5rem;
      padding-left: 4rem;
      display: inline-flex;
      flex-direction: column;
      gap: rem.convert(30px);
      @include media-breakpoint-up(md) {
        width: 46%;
      }
      @include media-breakpoint-up(xxl) {
        padding-block: 9rem;
      }
      @include media-breakpoint-up(xxxl) {
        padding-left: 3rem;
      }
      @include media-breakpoint-down(md) {
        padding-top: 0;
        padding-bottom: 3rem;
        padding-inline: 1.25rem;
        gap: rem.convert(24px);
      }
    h1 {
      .highlight {
        color: #e30046; // Pinkish red
      }
    }
  
    .actions {
      li {
        margin-top: rem.convert(8px);
        @include media-breakpoint-down(md) {
          margin-top: rem.convert(12px);
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .image-section {
    position: relative;
    @include media-breakpoint-up(md) {
      width: 54%;
    }
    .img-clip-path-box {
      position: relative;
      .img-wrapper {
        position: relative;
        height: 100%;
        padding-top: rem.convert(37px);
        padding-left: rem.convert(37px);
        @include media-breakpoint-down(lg) {
          padding-top: rem.convert(20px);
          padding-left: rem.convert(20px);
        }
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          position: relative;
          z-index: 2;
          @include media-breakpoint-up(lg) {
          }
          @include media-breakpoint-down(md) {
            min-height: 297px;
          }
        }
        &::before {
          content: "";
          position: absolute;
          z-index: 1;
          left: 0;
          top: 0;
          height: 94%;
          width: 94%;
          background-position: top left;
          border: 12px solid #FDC25A;
          @include media-breakpoint-down(lg) {
           border-width: 6px;
          }
        }
        &::after {
          content: "";
          position: absolute;
          z-index: 3;
          right: 1.25rem;
          bottom: 1.25rem;
          height: 100%;
          width: 1.81644rem;
          max-height: 15.44531rem;
          background-image: url(images/stars-single-svg.svg);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          @include media-breakpoint-down(lg) {
            max-height: 12rem;
          }
          @include media-breakpoint-down(md) {
            max-height: 8.49619rem;
            right: rem.convert(10px);
            bottom:  rem.convert(10px);
          }
        }
      }
    } 
    
  }
}
// Home Hero End

.section-hero {
  padding-top: rem.convert(151px);
}

// inner-hero-full-slider 
.inner-hero-full-slider {
  position: relative; 
  height: 70vh;
  @media (min-width: 1920px) {
    height: 75vh;
  }
  &::before {
    content: "";
    background-image: url(images/yellow-line.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 39.44388rem;
    height: 14.16938rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 7;
    @include media-breakpoint-down(xxl) {
      width: 11.55144rem;
      height: 9.16938rem;
    }
    @include media-breakpoint-down(lg) {
      background-image: url(images/yellow-line-mobile.svg);
      width:  rem.convert(183px);
      height: rem.convert(32px);
    }
  }
  .inner-hero-slider {
    .swiper-slide {
      
      .img-wrapper {
        position: relative;
        height: 100%;
        &::after {
          content: "";
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 21.9%, rgba(0, 0, 0, 0.70) 100%);
          position: absolute;
          inset: 0;
          z-index: 2;
          height: 100%;
          width: 100%;
        }
      }
      .content-section {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:8;
        width: 100%;
        padding-bottom: 3rem;
        @include media-breakpoint-down(lg) {
          padding-bottom: rem.convert(124px);
        }
        .slider-heading {
          max-width: 1070px;
          display: flex;
          flex-direction: column;
          gap: 24px;
      
          @include media-breakpoint-up(sm) {
            padding-left: 9rem;
          }
          @media (min-width:1920px) {
            padding-left: 0;
          }
        }
        .container {
          @media (min-width: 1920px) {
            padding-inline: 2rem;
          }
        }
      }
    }
    .pagination-container {
      @include media-breakpoint-down(md) {
        bottom: rem.convert(60px);
        .button-with-pagination-sec {
          margin-inline: auto;
        }
      }
    }
  }

  
}


.inner-hero-full-image {
  position: relative;
  height: 17.75rem;
  @include media-breakpoint-up(md) {
    height: 66vh;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 3;
    right:  rem.convert(16px);
    bottom: rem.convert(16px);
    height: 100%;
    width: 100%;  
    background-image: url(images/full-star-inner-hero.svg);
    background-size: 12.8125rem;
    background-repeat: no-repeat;
    background-position: right bottom;
    @include media-breakpoint-up(md) {
      background-size: 18rem;
    }
    @include media-breakpoint-up(xxl) {
      background-size: 25.875rem;
    }
  }
  .full-img-hero-wrap {
    img  {
      object-fit: cover;
    }
  }
}