
// img-text-full-width-sec Start
.img-text-full-width-sec {
  .row-section  {
    margin: 0;
    @include media-breakpoint-up(md) {
      --bs-gutter-x: 2rem;
    }
    @include media-breakpoint-up(xl) {
      --bs-gutter-x: 4rem;
    }
  }
  .content-section {
      display: inline-flex;
      flex-direction: column;
      gap: rem.convert(30px);
      @include media-breakpoint-up(md) {
        width: 46%;
        padding-block: 4rem;
        padding-left: 1.25rem;
      }
      @include media-breakpoint-up(xxl) {
        padding-block: 9rem;
      }
      @include media-breakpoint-up(xxxl) {
        padding-left: 3rem;
      }
      @include media-breakpoint-down(md) {
        padding-inline: 1.25rem;
        gap: rem.convert(24px);
      }
    h1 {
      .highlight {
        color: #e30046; // Pinkish red
      }
    }
  
    .actions {
      li {
        margin-top: rem.convert(8px);
        @include media-breakpoint-down(md) {
          margin-top: rem.convert(12px);
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .image-section {
    position: relative;
    padding-right: 0;
    @include media-breakpoint-up(md) {
      width: 54%;
    }
    &.img-clip-path{
      .img-wrapper {
        &::after {
          display: none;
        }
      }
    }
  }
}
// img-text-full-width-sec End


.flip-tiles-section {
  position: relative;
  &::after {
    content: "";
    background-image: url(images/gray-line-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 27.44375rem;
    height: 14.16931rem;
    position: absolute;
    right: 0;
    bottom: 2.1875rem;
    @include media-breakpoint-up(xxxl) {
      width: 39.44375rem;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .flip-tiles-grid {
    position: relative;
    z-index: 2;
  }
}