
.flip-tiles-section {
  position: relative;
  &::after {
    content: "";
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="444" height="228" viewBox="0 0 444 228" fill="none"><path d="M472.353 0.354492H468.329L627.076 227.064H631.1L472.353 0.354492Z" fill="%23E6E6E6"/><path d="M162.771 227.064H158.747L0 0.354492H4.02353L162.771 227.064Z" fill="%23E6E6E6"/><path d="M184.058 227.064H180.034L21.2928 0.354492H25.3163L184.058 227.064Z" fill="%23E6E6E6"/><path d="M205.344 227.064H201.321L42.5792 0.354492H46.6027L205.344 227.064Z" fill="%23E6E6E6"/><path d="M226.631 227.064H222.607L63.8658 0.354492H67.8893L226.631 227.064Z" fill="%23E6E6E6"/><path d="M247.917 227.064H243.894L85.1524 0.354492H89.1759L247.917 227.064Z" fill="%23E6E6E6"/><path d="M269.21 227.064H265.186L106.439 0.354492H110.463L269.21 227.064Z" fill="%23E6E6E6"/><path d="M290.496 227.064H286.473L127.726 0.354492H131.749L290.496 227.064Z" fill="%23E6E6E6"/><path d="M311.783 227.064H307.76L149.018 0.354492H153.042L311.783 227.064Z" fill="%23E6E6E6"/><path d="M333.07 227.064H329.046L170.305 0.354492H174.328L333.07 227.064Z" fill="%23E6E6E6"/><path d="M354.356 227.064H350.333L191.592 0.354492H195.615L354.356 227.064Z" fill="%23E6E6E6"/><path d="M375.649 227.064H371.625L212.878 0.354492H216.902L375.649 227.064Z" fill="%23E6E6E6"/><path d="M396.935 227.064H392.912L234.165 0.354492H238.188L396.935 227.064Z" fill="%23E6E6E6"/><path d="M418.222 227.064H414.198L255.451 0.354492H259.475L418.222 227.064Z" fill="%23E6E6E6"/><path d="M439.509 227.064H435.485L276.744 0.354492H280.767L439.509 227.064Z" fill="%23E6E6E6"/><path d="M460.796 227.064H456.772L298.031 0.354492H302.054L460.796 227.064Z" fill="%23E6E6E6"/><path d="M482.082 227.064H478.059L319.317 0.354492H323.341L482.082 227.064Z" fill="%23E6E6E6"/><path d="M503.374 227.064H499.351L340.604 0.354492H344.627L503.374 227.064Z" fill="%23E6E6E6"/><path d="M524.661 227.064H520.637L361.89 0.354492H365.914L524.661 227.064Z" fill="%23E6E6E6"/><path d="M545.947 227.064H541.924L383.177 0.354492H387.201L545.947 227.064Z" fill="%23E6E6E6"/><path d="M567.235 227.064H563.211L404.47 0.354492H408.493L567.235 227.064Z" fill="%23E6E6E6"/><path d="M588.521 227.064H584.498L425.756 0.354492H429.78L588.521 227.064Z" fill="%23E6E6E6"/><path d="M609.813 227.064H605.79L447.043 0.354492H451.067L609.813 227.064Z" fill="%23E6E6E6"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 27.44375rem;
    height: 14.16931rem;
    position: absolute;
    right: 0;
    bottom: 2.1875rem;
    @include media-breakpoint-up(xxxl) {
      width: 39.44375rem;
    }
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  .flip-tiles-grid {
    position: relative;
    z-index: 2;
    // @include media-breakpoint-down(md) {
    //   .card-color-hover {
    //     .overlay {
    //       opacity: 0;
    //     }
    //     &:hover {
    //        .overlay {
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
  }
}