.gsc-search-box-tools {
    background: var(--white);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 0;
    padding: rem.convert(20px 24px);

    td {
        padding: 0 !important;
    }

    .gsc-input-box {
        table {
            tr {
                border: 1px solid var(--gold) !important;
                box-shadow: none !important;
            }
        }
    }

    .gsc-input {
        .gsc-input-box{
            border: none;
        }
        .td {
            padding: rem.convert(4px 32px) !important;
        }
    }
    .gsc-search-button{
        min-height: rem.convert(40px);
        padding: rem.convert(6px 16px);
    }
    .gsc-search-button-v2 svg{
        height: rem.convert(16px);
    }
    .gsc-input-box {
        border: none;
        background: var(--light-gray);
    }
    .gscb_a {
        line-height: 1.5;
    }
    .gsst_a .gscb_a {
        color: #a1b9ed;
        cursor: pointer;
        vertical-align: middle;
    }

}
.gssb_c{
    transform: translateX(-50%);
    left: 50%;
}