.bg-red {
    background: var(--red);
    color: var(--white);

    * {
        color: var(--white);
    }

    .btn-secondary.btn-secondary-icon-yellow {
        svg {
            * {
                color: var(--gold);
            }
        }
    }
}

.bg-white {
    background: var(--white);
}

.bg-black {
    background: var(--black);
    color: var(--white);
    * {
        color: var(--white);
    }
    .btn-secondary {
        background-color: transparent;
        display: inline-flex;
        text-align: left;
        font-weight: $semibold;
        color: var(--black);
        .arrow {
          margin-right: rem.convert(12px);
          transition: all 0.3s ease-in-out;
          color: var(--red);
          path {
            color: var(--red);
          }
        }
        span {
          flex: 1;
        }
        &:hover {
            background: #FDC25A1A;
          transition: all 0.5s ease-in-out;
          border: 1px solid var(--pink);
          .arrow {
            transform: rotate(-45deg);
            color: var(--gold);
          }

        }
        &.btn-secondary-icon-yellow {
          background: transparent;
          .arrow {
            color: var(--gold);
          }
        }
      }
    .btn.btn-secondary-white {
        &:hover {
            background: rgba(253, 194, 90, 0.10);
            transition: all 0.5s ease-in-out;
            border: 1px solid var(--pink);
            .arrow {
              transform: rotate(-45deg);
              color: var(--gold)!important;
              path {
                color: var(--gold);
              }
            }
        }
    }
    .btn-primary {
        &:hover {
            color: var(--black);
            span { 
                background-color: var(--gold);
                color: var(--black);
                svg {
                color: var(--black);
                * {
                    color: var(--black);
                }
                }
            }
            &::before {
                background-color: var(--gold);
            }
        }
    }
}
.bg-gold {
    background: var(--gold);
}
.bg-light-gray {
    background: var(--light-gray);
}
.bg-grey-700 {
    background: var(--grey-700);
}

.bg-danger {
    background: var(--danger);
}

.bg-success {
    background: var(--success);
}

.text-red {
    color: var(--red);
}

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
    * {
        color: var(--black); 
    }
}

.text-gold {
    color: var(--gold);
    * {
        color: var(--gold);
    }
}

.text-purple {
    color: var(--purple);
    * {
        color: var(--purple); 
    }
}

.text-teal {
    color: var(--teal);
    * {
        color: var(--teal);
    }
}
.text-red {
    color: var(--red);
    * {
        color: var(--red);
    }
}

.text-success {
    color: var(--success);
}

.text-danger {
    color: var(--danger);
}
