
.tabbed-section {
  .container-tab {
    @include media-breakpoint-down(md) {
      padding-right: 0;
    }
  }
  .nav-tabs {
    border-bottom: 1px solid var(--grey-800);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
  }
  
  .nav-tabs {
    .nav-link {
      border: none;
      border-radius: 0;
      color: #4B4B4B;
      font-weight: 700;
      padding: 0.72rem 1.5rem;
      font-family: var(--body-font-family);
      font-size: rem.convert(14px);
      line-height: 1.75; 
      display: inline-block;
      background: rgb(0 0 0 / 0%);
      margin-bottom: 0;
      @include media-breakpoint-down(md) {
        padding: 0.5rem 1rem;
      }
      &:hover {
        background-color: var(--light-gray);
        color: var(--black);
      }
      &.active {
        background-color: var(--gold);
        color: var(--black);
        font-weight: bold;
      }
      &:focus-visible{
        outline: 2px solid var(--black);
        outline-offset: -2px;
      }
    }
  }

  .tab-content {
     @include media-breakpoint-down(md) {
      padding-right: 1.25rem;
    }
     .tab-content-box {
      background-color: var(--light-gray);
      padding: 2rem;
      margin-top: 2rem;
      font-size: 1rem;
      color: var(--black) !important;
      border-left: 3px solid transparent;
      @include media-breakpoint-down(md) {
        padding-inline: 1.5rem;
        margin-top: 1.5rem;
      }
      a:not(.btn) {
        text-decoration-line: underline !important;
        text-decoration-style: solid !important;
        text-decoration-skip-ink: none !important;
        text-decoration-thickness: auto !important;
        text-underline-offset: auto !important;
        background: transparent !important;
        color: var(--red) !important;
        display: inline-flex !important;
        word-break: break-word !important;

        &:hover {
          background: rgba(213, 0, 50, 0.10) !important;
          text-decoration-color: transparent !important;
        }
      }
      ul{
        margin-top: rem.convert(16px) !important;
        padding-left: rem.convert(16px) !important;
        margin-bottom: 0 !important;
        li{
          margin-bottom: rem.convert(2px) !important;
          list-style-type: initial !important;
          color: var(--black) !important;
          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
      ol{
        padding-left: rem.convert(16px) !important;
        margin-top: rem.convert(24px) !important;
        margin-bottom: 0 !important;
        li{
          margin-bottom: rem.convert(2px) !important;
          color: var(--black) !important;
          &:last-child {
            margin-bottom: 0 !important;
          }
        }
      }
      img{
        margin-top: rem.convert(32px) !important;
        max-width: 100% !important;
        height: auto !important;
        @include media-breakpoint-down(md) {
          min-height: auto !important;
        }
      }
      video{
        margin-top: rem.convert(32px) !important;
        width: 100% !important;
        height: auto !important;
      }
      iframe{
        margin-top: rem.convert(16px) !important;
        margin-bottom: rem.convert(16 px) !important;
        width: 100% !important;
        min-height: rem.convert(400px) !important;
        @include media-breakpoint-down(md) {
          min-height: auto !important;
        }
      }
      h3, h4, h5, h6 {
        margin-top: rem.convert(16px) !important;
      }
    }
  }
 
}
