.screenreader {
     position: absolute;
     left: -10000px;
}

 img.img-responsive.profile-pic{
     width: 100%;
     height: auto;
     max-width: 100%;
}
 .sharethis-inline-share-buttons .st-btn[data-network='email'] {
     background: #000 !important;
}

